.text {
    height: 300px;
    padding-left: 40px;
    padding-right: 20px;
  }
  
  .text h2 {
    text-align: center;
    color: black;
  }
  
  .ntext {

  }
  
  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive grid with minimum item width */
    gap: 20px;
    padding: 20px;
  }
  
  .card {
    background-color: #e1c6c6;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .card img {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    margin-bottom: 15px;
  }
  
  /* Responsive adjustments */
  @media screen and (max-width: 768px) {
    .card-container {
      grid-template-columns: 1fr; /* Single column layout on phones */
      padding: 10px; /* Adjust padding for smaller screens */
    }
  
    .text {
      padding-left: 20px; /* Adjust padding for smaller screens */
    }
  }
  